
include data/Functional_annotation/*
include data/Models/*
exclude data/Pfam-B.hmm

recursive-include doc/build/html *
include doc/build/latex/IntegronFinder.pdf

include README.md
include COPYING
include COPYRIGHT
include requirements.txt