include integron_finder
include data/Functional_annotation/*
include data/Models/*

recursive-include doc/build/html *
include doc/build/latex/IntegronFinder.pdf

include README.md
include requirements.txt