recursive-exclude data/ *
recursive-include integron_finder/data *

recursive-include tests/ *
recursive-exclude tests/data/Results_Integron_Finder_pssu.001.c01.13/ *
recursive-exclude tests/data/Results_Integron_Finder_OBAL001.B.00005.C001/ *
prune OBAL001.B.00005.C001*

recursive-include doc/build/html *
include doc/build/latex/IntegronFinder.pdf

prune bank_hmm

include README.md
include COPYING
include COPYRIGHT
include CONTRIBUTING.md
include CONTRIBUTORS.md
include CITATION.cff
include codemeta.json

include parallel_integron_finder.nf
include nextflow.config