params.cpu = 1

result_dir = "Results_Integron_Finder_${params.out}"

profiles {
    standard {
        executor {
            name = 'local'
            queueSize = 7
        }
        process {
            container = 'shub://gem-pasteur/Integron_Finder:2.0rc2'
            withName: integron_finder {
                cpu = params.cpu
            }
        }
        singularity {
            enabled = true
       }
    }

    cluster {
        executor {
            name = 'slurm'
            queueSize = 500
        }

        process {
            container = 'shub://gem-pasteur/Integron_Finder:2.0rc2'
            queue = 'common,dedicated'
            clusterOptions = '--qos=fast'
            withName: integron_finder {
                cpu = params.cpu
            }
        }
        singularity {
            enabled = true
            runOptions = '-B /pasteur'
            autoMounts = false
       }
    }
}



trace {
	enabled = true
	file = "${result_dir}/integron_trace.txt"
}

timeline {
	enabled = true
	file = "${result_dir}/integron_timeline.html"
}

report {
    enabled = true
    file = "${result_dir}/integron_report.html"
}
