params.cpu = 1

result_dir = "Results_Integron_Finder_${params.out}"

profiles {
    standard {
        executor {
            name = 'local'
            queueSize = 7
        }
        process{
            container = 'Singularity/integron_finder.simg'
            executor = 'local'
            $integron_finder{
                errorStrategy = 'ignore'
                cpu=params.cpu
            }
        }
    }

    cluster {
        executor {
            name = 'slurm'
            queueSize = 500
        }

        process{
            container = 'Singularity/integron_finder.simg'
            executor = 'slurm'
            queue= 'common,dedicated'
            clusterOptions = '--qos=fast'
            $integron_finder{
                cpu=params.cpu
            }
        }
    }

    singularity{
        enabled = true
        runOptions = '-B /pasteur'
        autoMounts = false
    }
}



trace {
	enabled = true
	file = "${result_dir}/integron_trace.txt"
}

timeline {
	enabled = true
	file = "${result_dir}/integron_timeline.html"
}

report {
    enabled = true
    file = "${result_dir}/integron_report.html"
}
