params.cpu = 1


manifest {
  homePage = 'https://github.com/gem-pasteur/Integron_Finder'
  description = 'Workflow to run integron_finder on large dataset.'
  mainScript = 'parallel_integron_finder.nf'
  defaultBranch = 'dev'
  nextflowVersion = '>=0.31'
}

profiles {
    standard {
        executor {
            name = 'local'
            queueSize = 4
        }
        process {
            withName: integron_finder {
                cpus = params.cpu
            }
        }
    }

    standard_singularity {
        executor {
            name = 'local'
            queueSize = 4
        }
        process {
            container = 'shub://gem-pasteur/Integron_Finder:2.0rc2'
            withName: integron_finder {
                cpus = params.cpu
            }
        }
        singularity {
            enabled = true
       }
    }

    cluster {
        executor {
            name = 'slurm'
            queueSize = 500
        }

        process {
            queue = 'common,dedicated'
            clusterOptions = '--qos=fast'
            withName: integron_finder {
                cpus = params.cpu
            }
        }
    }

    cluster_singularity {
        executor {
            name = 'slurm'
            queueSize = 500
        }

        process {
            container = 'shub://gem-pasteur/Integron_Finder:2.0rc2'
            queue = 'common,dedicated'
            clusterOptions = '--qos=fast'
            withName: integron_finder {
                cpus = params.cpu
            }
        }
        singularity {
            enabled = true
            runOptions = '-B /pasteur'
            autoMounts = false
       }
    }
}
