params.cpu = 1


manifest {
  homePage = 'https://github.com/gem-pasteur/Integron_Finder'
  description = 'Workflow to run integron_finder on large dataset.'
  mainScript = 'parallel_integron_finder.nf'
  defaultBranch = 'master'
  nextflowVersion = '>=0.31'
}

profiles {
    standard {
        executor {
            name = 'local'
            queueSize = 4
        }
        process {
            errorStrategy = 'terminate'
            withName: integron_finder {
                cpus = params.cpu
            }
        }
    }

    standard_apptainer {
        executor {
            name = 'local'
            queueSize = 4
        }
        process {
            errorStrategy = 'ignore'
            container = 'docker://gempasteur/integron_finder:2.0.2'
            withName: integron_finder {
                cpus = params.cpu
            }
        }
        singularity {
            enabled = true
       }
    }

    standard_docker {
        executor {
            name = 'local'
            queueSize = 4
        }
        process {
            errorStrategy = 'ignore'
            container = 'integron_finder'
            withName: integron_finder {
                cpus = params.cpu
            }
        }
        docker {
            enabled = true
            runOptions = '--user $(id -u):$(id -g)'
       }
    }

    cluster {
        executor {
            name = 'slurm'
            queueSize = 500
        }

        process {
            errorStrategy = 'ignore'
            queue = 'common,dedicated'
            clusterOptions = '--qos=fast'
            withName: integron_finder {
                cpus = params.cpu
            }
        }
    }

    cluster_apptainer {
        executor {
            name = 'slurm'
            queueSize = 500
        }

        process {
            errorStrategy = 'ignore'
            container = 'docker://gempasteur/integron_finder:2.0.2'
            queue = 'common,dedicated'
            clusterOptions = '--qos=fast'
            withName: integron_finder {
                cpus = params.cpu
            }
        }
        singularity {
            enabled = true
            runOptions = '-H $HOME -B /pasteur'
            autoMounts = false
       }
    }
}
