name: testing

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.12"]

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Upgrade pip
        run: python -m pip install --upgrade pip
      - name: Install HMMER
        run: sudo apt-get -y install hmmer infernal prodigal
      - name: Install Integron_Finder
        run: python -m pip install .[dev]
      - name: Test and Compute the code coverage
        run: coverage run --source integron_finder tests/run_tests.py -vvv
      - uses: codecov/codecov-action@v4
        with:
          name: codecov-umbrella
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        if: matrix.python-version == '3.10'
